* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: black;
}

.cell {
    /* border-radius: 75%; */
    width: 2rem;
    height: 2rem;   
    /* outline: 1px solid; */
    border-width: 2px;
   
}

.reset {
    font-size: 2rem;
    
    font-family: fantasy, sans-serif, Helvetica;
    background-color: darkgray;
    color: grey;
    border-radius: 25px; 
}

.color-select {
    display: flex;
    justify-content: left;
    color: white;
    font-size: 2rem;
    font-family: Helvetica;
}

.center {
    justify-content: center;
    display: flex;
   
    color: yellow;
}

.lite-brite {
    font-size: 4rem;
letter-spacing: .5rem;
font-family: sans-serif;
}

.red {
    background-color: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.orange {
    background-color: orange;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.green {
    background-color: green;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.purple {
    background-color: purple;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;}

.brown {
    background-color: brown;
    color: white;
}