* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-size: 16px;
    background-color: black;
}

/* .main {
    background-image: url("bgimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
} */

.cell {
    width: 2rem;
    height: 2rem;   
    border-width: 2px;
   
}

.reset {
    font-size: 2rem;
    font-family: fantasy, sans-serif, Helvetica;
    background-color: gray;
    color: black;
    border-radius: 15px; 
}

.reset:hover {
    opacity: .5;
    font-weight: 400;
    color: red;
    border-color: red;
    border: 1px red;
}

.color-select {
    display: flex;
    justify-content: left;
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    padding-bottom: 2;
}

.center {
    justify-content: center;
    display: flex;
}

.lite-brite {
    font-size: 4rem;
letter-spacing: .5rem;
font-family: sans-serif;
}

.red {
    background-color: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.orange {
    background-color: orange;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.green {
    background-color: green;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.purple {
    background-color: purple;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;}

.brown {
    background-color: brown;
    color: white;
}

.red:hover {
    color:red;
    font-weight: bolder;
}

.orange:hover {
    color:orange;
    font-weight: bolder;
}

.yellow:hover {
    color:yellow;
    font-weight: bolder;
}

.green:hover {
    color:green;
    font-weight: bolder;
}

.blue:hover {
    color:blue;
    font-weight: bolder;
}

.purple:hover {
    color:purple;
    font-weight: bolder;
}

.brown:hover {
    color:brown;
    font-weight: bolder;
}

.black:hover {
    color:black;
    font-weight: bolder;
}

.white:hover {
    color:white;
    font-weight: bolder;
}

.footer {
    background-color: black;
}